@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: COCOGOOSE, sans-serif;
}

h3,
p {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* https://www.freepik.com/free-photo/hand-crowd-disco_1419713.htm#page=1&query=music%20festival&position=4 */

header {
  background-color: #272a31;
  color: white;
  height: 30px;
}

.head-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
}

/* Navbar */

.navbar {
  background-color: rgb(255, 255, 255);
  height: 60px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(241, 241, 241);
  box-shadow: 5px 10px 18px #888888;
}

.nav-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.s-list {
  display: flex;
}

.s-list li {
  margin-left: 3rem;
  margin-top: 1.4rem;
}

.s-list a {
  color: #272a31;
}

.logo {
  width: 180px;
  height: auto;
}

.logo-img {
  width: 100%;
}

/* Hero */

.hero {
  background-image: url(img/hero5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}

.hero-wrapper {
  width: 80%;
  height: inherit;
  margin: 0 auto;
}

.hero-wrapper h3 {
  color: #ec5242;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.big-text {
  color: #272a31;
  font-size: 6rem;
  line-height: 5rem;
  max-width: 700px;
}

.exp {
  border: 1px solid white;
  background-color: rgba(219, 219, 219, 0.5);
  max-width: 800px;
}

.date h2 {
  color: #ec5242;
}

/* Program */

.program {
  background-image: url(img/programbg.jpg);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.program-title {
  color: #d3d3d3;
}

.boxes {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(208, 215, 238, 0.5);
  margin: 5px;
  height: 200px;
}

.box h3 {
  color: #ec5242;
}

/* Line up */

.lineup-wrapper {
  width: 80%;
  margin: 0 auto;
}

.bands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.band {
  display: flex;
  justify-content: space-between;
}

.band-imgwrapper {
  height: 100px;
  min-width: 100px;
  background-color: #f7897a;
}

.toptext {
  color: #ec5242;
  font-size: 0.8rem;
}

.bottomtext {
  color: #272a31;
  font-size: 0.8rem;
}
