@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: COCOGOOSE, sans-serif;
}

h3,
p {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* https://www.freepik.com/free-photo/hand-crowd-disco_1419713.htm#page=1&query=music%20festival&position=4 */

header {
  background-color: #272a31;
  color: white;
  height: 30px;
}

.head-wrapper {
  width: 70%;
  margin: 0 auto;
  padding-top: 0.4rem;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
}

.socials {
  float: right;
  margin: 0 2rem;
}

.socials i {
  padding: 0 5px;
}

.links {
  width: 180px;
  float: right;
  display: flex;
  justify-content: space-between;
}

/* Navbar */

.navbar {
  background-color: rgb(255, 255, 255);
  height: 65px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(241, 241, 241);
  box-shadow: 5px 10px 18px #888;
  z-index: 1;
}

.nav-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.s-list {
  display: flex;
}

.s-list li {
  margin-left: 3rem;
  margin-top: 1.4rem;
}

.s-list a {
  color: #272a31;
  font-size: 0.8rem;
}

.sl-item.campaign {
  border: 4px solid #ec5242;
  color: #ec5242;
  padding: 8px;
  margin-left: 2rem;
}

.logo {
  width: 180px;
  height: auto;
}

.logo-img {
  width: 100%;
}

/* Hero */

.fas.fa-bars {
  display: none;
}

.hero {
  background-image: url(img/hero5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}

.hero-wrapper {
  width: 70%;
  height: inherit;
  margin: 0 auto;
  position: relative;
}

.hero-inner {
  position: absolute;
  bottom: 6rem;
}

.hero-wrapper h3 {
  color: #ec5242;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.big-text {
  margin: 2rem 0;
  color: #272a31;
  font-size: 6rem;
  line-height: 5rem;
  max-width: 700px;
}

.exp {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 800px;
  margin: 2rem 0;
  padding: 2rem;
}

.date h2 {
  color: #ec5242;
  font-size: 2rem;
}

/* Program */

.program {
  background-image: url(img/programbg.jpg);
  min-height: 50vh;
  padding-bottom: 2rem;
}

.see-more {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.program a {
  color: #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 1rem;
  font-size: 15px;
  margin-bottom: 2rem;
}

.title-wrapper {
  width: 20%;
  margin: 0 auto;
}

.program-title {
  text-align: center;
  margin: 0 auto;
  color: #d3d3d3;
  padding-bottom: 1rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
}

.bottomline {
  width: 20%;
  margin: 0 auto;
  border-bottom: 1px solid orangered;
}

.boxes {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 2rem 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(84, 88, 110, 0.5);
  height: 200px;
  padding: 20px 10px;
}

.box h3 {
  color: #ec5242;
  font-weight: 300;
}

.box i {
  color: white;
}

.box p {
  font-size: 0.8vw;
  color: #d3d3d3;
}

.program-btn {
  background-color: #ec5242;
  color: white;
  border: none;
  padding: 30px 25px;
  font-size: 1rem;
  display: none;
}

/* Line up */

.line-up {
  background-color: #f3f3f3;
}

.program-title.dark {
  color: #272a31;
}

.program-title.dark::before {
  left: 3.5rem;
}

.lineup-wrapper {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-gap: 2rem;
}

.band {
  display: flex;
  justify-content: space-between;
}

.band-imgwrapper {
  height: 120px;
  width: 150px;
  overflow: hidden;
}

.band-img {
  width: 200%;
}

.band-info {
  max-width: 400px;
  margin-left: 2rem;
}

.toptext {
  color: #ec5242;
  font-size: 0.8rem;
}

.bottomtext {
  color: #272a31;
  font-size: 0.8rem;
  padding-top: 1.2rem;
}

.lineup-btn {
  display: none;
}

/* Sponsors */

.sponsors {
  background-color: #424242;
  height: 200px;
}

.sponsors-wrapper {
  width: 70%;
  margin: 0 auto;
  height: 25vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors-logos {
  margin: 0 auto;
  width: 90%;
  padding-top: 2rem;
  justify-content: space-between;
  display: flex;
}

.sp-container {
  max-width: 150px;
}

.spon-logo {
  width: 100%;
  filter: opacity(80%);
}

.sponsors-wrapper.appear {
  display: none;
}

/* Footer */

footer {
  background-color: #f3f3f3;
}

.footer-box {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer-logo {
  width: 200px;
  fill: #424242;
}

.footer-info {
  width: 70%;
  padding-left: 5rem;
  font-size: 0.8rem;
}

/* MOBILE SIZE */

@media (max-width: 768px) {
  header,
  .navbar {
    display: none;
  }

  .hero-wrapper {
    width: 90%;
    position: relative;
  }

  .fas.fa-bars {
    display: block;
    color: #272a31;
    opacity: 80%;
    position: absolute;
    top: 2rem;
  }

  .hero-inner h3 {
    margin-bottom: 1rem;
  }

  .big-text {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
  }

  .exp {
    font-size: 1em;
    margin: 1rem 0;
  }

  .date h2 {
    font-size: 1rem;
  }

  /* Program Mobile */

  .title-wrapper {
    width: 60%;
  }

  .boxes {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-gap: 15px;
    text-align: start;
    height: auto;
  }

  .box i {
    font-size: 2rem;
  }

  .box h3 {
    font-size: 15px;
  }

  .box p {
    font-size: 12px;
  }

  .see-more {
    display: none;
  }

  .program-btn {
    display: block;
    margin: 0 auto;
  }

  .program-btn:hover {
    cursor: pointer;
  }

  /* Line up Mobile */

  .lineup-wrapper {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .band-imgwrapper {
    width: 180px;
  }

  .band.disappear {
    display: none;
  }

  .lineup-btn {
    display: block;
    width: 100%;
    background: none;
    border: 1px solid #d3d3d3;
    padding: 20px;
  }

  .lineup-btn:hover {
    cursor: pointer;
  }

  .fa-chevron-down {
    color: #ec5242;
  }

  /* Sponsors Mobile */

  .sponsors {
    height: 250px;
  }

  .sponsors-wrapper {
    width: 80%;
  }

  .sponsors-logos {
    flex-flow: row wrap;
    justify-content: center;
  }

  .sp-container {
    max-width: 80px;
  }

  /* Footer Mobile */

  .footer-info {
    padding-left: 2rem;
  }

  .ticketmaster-info {
    display: none;
  }
}
